.swipe-wrapper
  padding 0 10px
  h1
    font-size 24px
    margin 38px 0px 54px 0
  .username,.password,.submit_register,.img_code,.phone_code,.confim_password
    margin-bottom 10px
    position relative
    .icons
      display block
      position absolute
      top 50%
      margin-top -10px
      left 12px
      svg
        width 18px
        height 18px
    label
      display block
      font-size 16px
    input
      height 50px
      border-style solid
      border-color #999
      border-width 1px
      border-radius 4px
    input[name="user"],input[name="pwd"],input[name="comfrpwd"]
      padding 0 20px 0 37px
      width 250px
    input[name="code"],input[name="phone_code"]
      padding 0 80px 0 37px
      width 190px
    input[name="registers"]
      width 100%
  .forget_Pdw
    text-align right
    margin 15px 0px 26px 0

.scroll-list-outer-wrap
.scroll-list-inner-wrap
  transform: rotate(0deg) // fix 子元素超出边框圆角部分不隐藏的问题
  position: relative
.scroll-list-outer-wrap
  height: 340px
.scroll-list-inner-wrap
  height: 300px
