.userPrivileges_view
  padding 0 10px
  h1
    font-size 24px
    margin 38px 0px 74px 0
    color #fff
  .username,.password,.submit_login
    margin-bottom 10px
    position relative
    .icons
      display block
      position absolute
      top 50%
      margin-top -10px
      svg
        width 18px
        height 18px
      &.icon_User,&.icon_Pwd
        left 12px
      &.icon_eye
        right 12px
        margin-top -8px
    label
      display block
      font-size 16px
    input
      height 50px
      border-style solid
      border-color #999
      border-width 1px
      border-radius 4px
    input[name="user"],input[name="pwd"]
      padding 0 30px 0 37px
      width 240px
    input[name="logins"]
      width 100%
  .forget_Pdw
    text-align right
    margin 15px 0px 26px 0
