.icon_Theme
  width 25px
  height 25px
  display block
/*
** 主题1
*/
bgColor1=#6989ff
fontColor1=#fff
.theme-default
  .header_fixed,.header_outher
    background-color bgColor1
  .header_fixed p
    color fontColor1
  .footer ul li.active
    color bgColor1
  .footer ul li.active svg
    fill bgColor1
  .footer ul li.home.active svg,.footer ul li.market.active svg,.footer ul li.live.active svg,.footer ul li.my.active svg
    animation:IconAnimate .1s;
  .footer ul li span
    background-color bgColor1
  .user_body input[name="logins"],.user_body input[name="register"],input[name='getPhoneCode']
    background-color bgColor1
/*
* 主题2
*/
bgColor2=#DD2727
fontColor2=#fff
.theme-Red
  .header_fixed,.header_outher
    background-color bgColor2
  .header_fixed p
    color fontColor2
  .footer ul li.active
    color bgColor2
  .footer ul li.active svg
    fill bgColor2
  .footer ul li.home.active svg,.footer ul li.market.active svg,.footer ul li.live.active svg,.footer ul li.my.active svg
    animation:IconAnimate .1s;
  .footer ul li span
    background-color bgColor2
  .user_body input[name="logins"],.user_body input[name="register"],input[name='getPhoneCode']
    background-color bgColor2
/*
* 主题3
*/
bgColor3=#FF5000
fontColor3=#fff
.theme-Orange
  .header_fixed,.header_outher
    background-color bgColor3
  .header_fixed p
    color fontColor3
  .footer ul li.active
    color bgColor3
  .footer ul li.active svg
    fill bgColor3
  .footer ul li.home.active svg,.footer ul li.market.active svg,.footer ul li.live.active svg,.footer ul li.my.active svg
    animation:IconAnimate .1s;
  .footer ul li span
    background-color bgColor3
  .user_body input[name="logins"],.user_body input[name="register"],input[name='getPhoneCode']
    background-color bgColor3
/*
* 主题4
*/
bgColor4=#666
fontColor4=#fff
activeColor=#333
.theme-Gary
  .header_fixed,.header_outher
    background-color bgColor4
  .header_fixed p
    color fontColor4
  .footer ul li.active
    color activeColor
  .footer ul li.active svg
    fill activeColor
  .footer ul li.home.active svg,.footer ul li.market.active svg,.footer ul li.live.active svg,.footer ul li.my.active svg
    animation:IconAnimate .1s;
  .footer ul li span
    background-color bgColor4
  .user_body input[name="logins"],.user_body input[name="register"],input[name='getPhoneCode']
    background-color bgColor4

@keyframes IconAnimate
  from {transform:scale(.5)}
  to {transform:scale(1)}
