html, body, #app
  height 100%
  width 100%
  overflow-x hidden
body
  background-color #f8f8f8
.header_fixed
  z-index 10
  position absolute
  right 0
  left 0
  height 44px
  line-height 44px
  text-align center
  background-color #EDF0F4
  box-shadow 0 2px 1px #e9eaea
  -webkit-backface-visibility hidden
  backface-visibility hidden
  display flex
  .header_back
    flex 0 0 20%
    width 20%
    i
      display block
  h1
    font-size 18px
    font-weight 500
    flex 0 0 60%
    width 60%
    color #666
  .entry
    flex 0 0 20%
    width 20%
    span
      color #777
    .icon_login
      width 22px
      line-height 16px
      height 22px
      border-radius 50%
      background #999
      color #fff
      display block
      float right
      margin 12px 26px
      svg
        width 12px
        height 12px
        margin 0 !important
