.layout-page
  position relative
  top 0
  left 0
  width 100%
  height 100%
  >.content_wrapper
    height calc(100% - 64px)
    height 100%
    overflow-x hidden
    overflow-y auto
    position relative
    -webkit-overflow-scrolling: touch
    .desc
      padding 10px
      margin 10px 0
      line-height 20px
      font-size 14px
    .futures_bg
      width 100%
      height 100%
      display block
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index -1
  &.option-demo
    .content_wrapper
      background-color $color-white
    .title
      font-size $fontsize-large
      font-weight 500
      color $color-dark-grey
      padding 15px
      border-bottom 1px solid rgba(0, 0, 0, 0.1)
      margin-bottom 15px
    .options
      margin-bottom 15px
    .option-list
      .group
        margin-bottom 15px
        border 1px solid rgba(0, 0, 0, 0.1)
        border-radius $radius-size-medium
      .item
        height 52px
        border-bottom 1px solid rgba(0, 0, 0, 0.1)
        &.sub
          font-size $fontsize-medium
          background-color $color-light-grey-opacity
          &.first
            box-shadow 0 1px 1px 1px #eee inset
          &.last
            border-bottom none
    .demo
      margin-bottom 15px
    .methods
      .method-list
        .group
          margin-bottom 15px
          border 1px solid rgba(0, 0, 0, 0.1)
          border-radius $radius-size-medium
        .item, button
          height 40px
          font-size $fontsize-large
        .item
          background-color $color-active-light-gray
          border-bottom 1px solid rgba(0, 0, 0, 0.1)
        button
          width 100%
          border-bottom-left-radius $radius-size-medium
          border-bottom-right-radius $radius-size-medium
          background-color $color-orange
          box-shadow 0 0 0 1px $color-orange
          border none
          outline none
          color $color-white
