#login
  width 90%
  margin 0 auto
  h1
    text-indent 20px
    padding 35px 0 24px
    font-size 22px
    color #888
  .cube-input
    margin-bottom 10px
  .cube-btn-primary
    margin-top:20px
  p
    font-size 14px
    line-height 40px
    color #666
    &.register_back
      float left
    &.forget_pwd
      float right
