.user_body
  height 100%
  h1
    font-size 18px
    color #fff
    font-weight normal
    &.register_title
      font-size 20px
      color #4a4a4a
      padding 36px 0px 60px 37px
  .register_view
    margin 0 auto
    width 330px
    .username, .password, .code, .phoneCode, .submit_register
      margin-bottom 10px
      position relative
      .code_img
        width 88px
        height 34px
        position absolute
        right 10px
        top 8px
        img
          width 100%
          height 100%
      .phoneCode_btn
        width 88px
        height 32px
        position absolute
        top 9px
        right 10px
        line-height 32px
        input[name='getPhoneCode']
          width 100%
          height 100%
          display block
          border-radius 5px
          font-size 12px
          text-align center
          color #fff
          border none
        input[disabled='disabled']
          background #d8d8d8
      .icons
        width 18px
        height 22px
        display block
        position absolute
        top 50%
        margin-top -10px
        &.icon_User, &.icon_Pwd, &.icon_Code, &.icon_phoneCode
          left 18px
          fill #4a4a4a
        &.icon_eye
          width 20px
          height 20px
          left 50%
          margin-left -15px
      label
        display block
        font-size 16px
      input
        height 50px
        border none
        outline none
        font-size 14px
        border-bottom 1px solid #979797
      input[name='user'], input[name='pwd']
        padding 0 50px 0 45px
        width 235px
      input[name='code'], input[name='phoneCode']
        padding 0 100px 0px 45px
        width 185px
      input[name='register']
        width 100%
        height 55px
        color #fff
        border none
        border-radius 50px
        font-size 15px
      a
        text-align right
        margin 14px 0px 33px 0
        display inline-block
        color #777
    .opt
      padding 10px 20px 45px
      span
        float left
      .checkbox_box
        float left
        margin-right 10px
      b
        color #4b91e2
    .eyeIcon
        width 50px
        height 50px
        position absolute
        right 0
        top 50%
        margin-top -25px
